autopep8==1.5.7
click==8.0.1
dominate==2.6.0
Flask==2.0.1
Flask-Bootstrap4==4.0.2
Flask-WTF==0.15.1
future==0.18.2
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pycodestyle==2.7.0
python-vlc==3.0.12118
toml==0.10.2
visitor==0.1.3
Werkzeug==2.0.1
WTForms==2.3.3
youtube-dl==2021.6.6
