{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
{{ super() }}
<style>
  body { background: #000000; }
  text, a, p, label, h1, h2, h5 { color: #99ff95}
</style>
{% endblock %}


{% block title %}
Joybox
{% endblock %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

      <h1 class="pt-5 pb-2">Customize</h1>

      <p><a href="/">< Back to Catalog</a></p>

      {% if not tag %}
      <h5 class="pt-5 pb-2">Place the new piece near the reader...</h3>
      {% endif %}

      {{ wtf.quick_form(form) }}

      {% if tag %}
      <p class="pt-5">
        <a href="play?tag={{tag}}">
          <button class="btn btn-success">Play</button>
        </a>
        <a href="stop?tag={{tag}}">
          <button class="btn btn-info">Stop</button>
        </a>
        <a href="edit?tag={{tag}}&delete">
          <button class="btn btn-danger">Delete</button>
        </a>
      </p>
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}